				
@{
    ViewBag.Title = "设置巡检记录";
}
@using EHECD.FirePatrolInspection.Entity
@model EHECD_InspectionRecord
<form id="form_inspectionrecord">
    <input type="hidden" name="ID" value="@Model.ID"/>
    <div>
        <table class="gridtable">
											
			<tr>
                <td style="width: 15%">设备ID：</td>
                <td>
				  										 																												
					<input type="text" name="iDeviceID" value="@(Model.ID==0?string.Empty:Model.iDeviceID.ToString())" style="width: 120px" class="easyui-textbox easyui-validatebox" data-options="validType:['num'],required:true" missingmessage="请输入巡检记录设备ID."/>
													
                </td>
            </tr>
									
			<tr>
                <td style="width: 15%">巡检人ID：</td>
                <td>
				  										 																												
					<input type="text" name="iClientID" value="@(Model.ID==0?string.Empty:Model.iClientID.ToString())" style="width: 120px" class="easyui-textbox easyui-validatebox" data-options="validType:['num'],required:true" missingmessage="请输入巡检记录巡检人ID."/>
													
                </td>
            </tr>
													
			<tr>
                <td style="width: 15%">巡检结果[0:正常,1:异常]：</td>
                <td>
				  										 																						
					<input type="text" name="iStatus" value="@Model.iStatus" style="width: 120px" class="easyui-textbox easyui-validatebox" data-options="validType:['checkHtml'],required:true" missingmessage="请输入巡检记录巡检结果[0:正常,1:异常]."/>
													
                </td>
            </tr>
									
			<tr>
                <td style="width: 15%">异常情况描述：</td>
                <td>
				  										 																						
					<input type="text" name="sDesc" value="@Model.sDesc" style="width: 120px" class="easyui-textbox easyui-validatebox" data-options="validType:['checkHtml'],required:true" missingmessage="请输入巡检记录异常情况描述."/>
													
                </td>
            </tr>
						
        </table>
    </div>
</form>
<script>

    $(function () {
        window.saveModel = function() {
            if (!$("#form_inspectionrecord").form('validate')) {
                msgShow('提示', '请核对相关信息!', 'warning');
                return;
            }
            $("#save_window_okbtn_inspectionrecord").linkbutton('disable');

            $.ajax({
                type: "POST",
                url: "/RepairDept/InspectionRecord/Set", //用与处理ajax的地址及函数
                data: $("#form_inspectionrecord").serialize(),
                dataType: "json",
                success: function (res) {
                    $('#save_window_okbtn_inspectionrecord').linkbutton('enable');
                    if (res.success) {
                        msgShow('提示', res.message, 'info');
                        window.setWindow.dialog('close');//关闭新建窗口
                        if (res.code == 0) {
                            reload(1);
                        }
                        else {
                            clearSelections();
                            reload();
                        }
                    }
                    else {
                        msgShow('提示', res.message, 'warning');
                    }
                },
                error: function (xhr, msg, e) {
                    msgShow('提示', '操作出错了!', 'warning');
                    $('#save_window_okbtn_inspectionrecord').linkbutton('enable');
                }
            });
        }
    });


</script>
